/* body {
        padding: 0%;
        margin: 0%;
        font-family: 'Roboto';
        

    } */

html {
    height: 100%;
}

body {
    min-height: 100vh;
    font-family: 'Roboto';
}
.margin_top{
 margin-top: 35px;
}


/* Small Devices & above(Mobile) */

@media (min-width: 320px) {
    .main {

        display: flex;
        justify-content: center;
        align-content: center;
        height: 100vh;
        width: 100vw;
        align-items: center;
    }
    .back {
        background: transparent url('../images/Group\ 883.svg') 0% 0% no-repeat padding-box;
        opacity: 1;
        position: absolute;
        left: 0px;
        width: 50vw;
        height: 46vh;
        /* height: 35vh;   46vh */
        bottom: 0;
        z-index: -1;
    }
    .verticalheight{
        height: 46vh;
    } 
    .img-1 {
        height: 2rem;
    }
    .form-control {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #707070;
        border-radius: 23px;
        opacity: 1;
        color: #BCBBBB;
        
    }
    input::-webkit-input-placeholder {
        color: #BCBBBB !important;
        text-align: left;
        font: normal normal normal 16px/42px Roboto;
        letter-spacing: 0px;
        text-transform: capitalize;
        opacity: 1;
      
    
    }
    .form-control:focus {
        border-color: #707070;
        box-shadow: none;
        color:#BCBBBB ;
    }
    .btn-primary-1 {
        background-color: #FEB62B;
        color: #FFFFFF;
        border: 1px solid #707070;
        border-radius: 23px;
        border: none;
        text-align: left;
        letter-spacing: 0px;
        text-transform: uppercase;
        opacity: 1;
        font: normal normal normal 14px/15px Roboto; 
      
    }

    .btn.focus,
    .btn:focus {
        box-shadow: none;
    }
    .btn:hover {
        color: #FFFFFF;
    }
}

@media (min-width: 768px) {
    .img-1 {
         height: 2rem;
    }
    .back {
        height: 46vh;
    } 
    .verticalheight{
        height: 38vh;
    }

   .form-control{
            height: 40px;
   }
   .btn-primary-1{
    width: 143px;
    height: 36px;
    text-align: center;
   }
}

@media (min-width: 1920px) {
       .back {
            height: 52vh;
        }
        .verticalheight{
            height: 52vh;
        } 
}

.alert-danger{
    padding-left: 0px !important;
    padding-bottom: 0px !important;
}
.alert-success{
    padding-left: 0px !important;
    padding-bottom: 0px !important;
}

